!-----------------
! urxvt
!-----------------

! look & feel
URxvt.scrollBar: 		false
URxvt*fading:			30
URxvt*internalBorder:	0
URxvt*externalBorder:	0

Urxvt.depth:			32
URxvt*background: 		#101218
URxvt*foreground: 		#d1d4e0

URxvt.secondaryScreen: 	1
URxvt.secondaryScroll: 	0

URxvt.saveLines: 		1000000

! font
URxvt.font: xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:style=Regular:size=9
URxvt.letterSpace: -1

! extentions
URxvt.perl-ext-common: default,matcher,resize-font,fullscreen

! fullscreen
URxvt.keysym.F11: 			perl:fullscreen:switch

! resize-font
URxvt.keysym.Control-0x2b: 	perl:font-size:increase
URxvt.keysym.Control-0x2d: 	perl:font-size:decrease

! matcher
URxvt.url-launcher:      	sensible-browser
URxvt.keysym.C-Delete:    	perl:matcher:last
URxvt.keysym.M-Delete:    	perl:matcher:list
URxvt.matcher.button: 		1
URxvt.matcher.pattern.1: 	\\b[Dd](\\d+)
URxvt.matcher.launcher.1: 	sensible-browser https:\\\\phabricator.intern.facebook.com/D$1
URxvt.matcher.pattern.2: 	\\b[Pp](\\d+)
URxvt.matcher.launcher.2: 	sensible-browser https:\\\\phabricator.intern.facebook.com/P$1
URxvt.matcher.pattern.3: 	\\b[Tt](\\d+)
URxvt.matcher.launcher.3: 	sensible-browser https:\\\\our.intern.facebook.com/intern/tasks/?t=$1

